@page
@using BlazorApp1.Client

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>BlazorApp1</title>
    <base href="/" />
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="css/app.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link href="BlazorApp1.Client.styles.css" rel="stylesheet" />
</head>

<body>

    @if (HttpContext.Request.Path.StartsWithSegments("/authentication"))
    {
        <component type="typeof(App)" render-mode="WebAssembly" />
    }

    else
    {
        <component type="typeof(App)" render-mode="WebAssemblyPrerendered" />
    }

    <script src="_content/Microsoft.AspNetCore.Components.WebAssembly.Authentication/AuthenticationService.js"></script>
    <script src="_framework/blazor.webassembly.js"></script>
</body>

</html>